<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-primary">Job Application</h4>
                    <form #jobtwo="ngForm" (ngSubmit)="onsubmit()">
                        <div class="form-group">
                            <label for="fullName">FullName*</label>
                            <input type="text" required #fullName="ngModel" ngModel name="fullName" class="form-control"
                            pattern="[A-za-z]+$" minlength="3" maxlength="30">
                            <strong class="text-danger" *ngIf="fullName.touched && fullName.hasError('required')">fullName is Required field</strong>
                        </div>
                        <ng-container *ngIf="fullName.dirty">
                            <strong class="text-danger" *ngIf="fullName.hasError('minlength')">
                                Minlength of fullName should be 
                                {{fullName.errors?.['minlength'].requiredLength}}
                                and actual length is 
                                {{fullName.errors?.['minlength'].actualLength}}

                            </strong>
                            <strong class="text-danger" *ngIf="fullName.hasError('maxlength')">
                                maxlength should be 
                                {{fullName.errors?.['maxlength'].requiredLength}}
                                and actual length is 
                                {{fullName.errors?.['maxlength'].actualLength}}

                            </strong>

                        </ng-container>
                        <strong class="text-danger" *ngIf="fullName.hasError('pattern')">
                            Please Enter a valid fullName
                        </strong>


                        <div class="form-group">
                            <label for="Email">Email*</label>
                            <input type="text" required #Email="ngModel" ngModel name="Email" class="form-control"
                            pattern="[a-z0-9.-%+-]+@[a-z0-9.-]+\.[a-z]{2,}">
                            <strong class="text-danger" *ngIf="Email.touched && Email.hasError('required')">
                                Email Id is required field
                            </strong>
                            <strong class="text-danger" *ngIf="Email.dirty && Email.hasError('pattern')">
                                Enter a valid Eamil Id
                            </strong>

                        </div>
                        <div class="form-group">
                            <label for="Mobilenumber">Mobile Number*</label>
                            <input type="text" required #Mobilenumber="ngModel" ngModel name="Mobilenumber" class="form-control"
                            pattern="^[0-9]{10}$">
                            <strong class="text-danger" *ngIf="Mobilenumber.touched && Mobilenumber.hasError('required')">
                                Mobile Number is required field
                            </strong>
                            <strong class="text-danger" *ngIf="Mobilenumber.dirty && Mobilenumber.hasError('pattern')">
                                please Enter a valid Mobile number
                            </strong>

                        </div>
                        <div class="form-group">
                            <label for="Experience">Experience*</label>
                            <select required #Experience="ngModel" ngModel name="Experience" class="form-control">
                                <option value="0-1">0-1</option>
                                <option value="0-2">0-2</option>
                                <option value="0-3">0-3</option>
                                <option value="0-4">0-4</option>

                            </select>
                            
                            <strong class="text-danger" *ngIf="Experience.touched && Experience.hasError('required')">
                                Experience is a required field</strong>
                                
                        </div>
                        <div class="form-group">
                            <label for="Skills">Skills*</label><br>
                            <div class="form-check form-check-inline">
                                <input id="Html" class="form-check.input" type="checkbox" name="Html" #Html="ngModel" ngModel [(ngModel)]="Skills.Html" required>
                                <label for="Html" class="form-check.label">Html</label>
                            </div>
                             <div class="form-check form-check-inline">
                                <input id="css" class="form-check.input" type="checkbox" name="css" #css="ngModel" ngModel [(ngModel)]="Skills.css" required>
                                <label for="css" class="form-check.label">CSS</label>
                            </div>
                              <div class="form-check form-check-inline">
                                <input id="Javascript" class="form-check.input" type="checkbox" name="Javascript" #Javascript="ngModel" ngModel [(ngModel)]="Skills.Javascript" required>
                                <label for="Javascript" class="form-check.label">Javascript</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="Angular" class="form-check.input" type="checkbox" name="typescript" #typescript="ngModel" ngModel [(ngModel)]="Skills.Angular" required>
                                <label for="Angular" class="form-check.label">Angular</label>
                            </div>
                            <strong class="text-danger" *ngIf="submit && !skillsubmit()"><br>Skills is Required field</strong>
                        </div>


                        <div class="form-group">
                            <label for="Resume">Resume URL*</label>
                            <input type="url" required #url="ngModel" ngModel name="url" class="form-control" pattern="https?://.+">
                            <strong class="text-danger" *ngIf="url.touched && url.hasError('required')">
                                Resume Url is required filed</strong>

                                <strong class="text-danger" *ngIf="url.dirty && url.hasError('pattern')">Enter valid Resume Url</strong>



                        </div>
                        <div class="form-group">
                            <label for="ExpectedSalary">Expected Salary*</label>
                            <input type="number" required #ExpectedSalary="ngModel" ngModel name="ExpectedSalary" class="form-control" min="10001">
                            <strong class="text-danger" *ngIf="ExpectedSalary.touched && ExpectedSalary.hasError('required')">
                                Expected Salary is required field</strong>
                                <strong class="text-danger" *ngIf="ExpectedSalary.dirty && ExpectedSalary.hasError('min')">salary must be greater than 10000</strong>
                        </div>
                        <button class="btn btn-block bg-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>