<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center text-danger">Employee Leave Application</h4>
                <form #leavethree="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="Employee">Employee Name*</label>
                        <input required name="Employee" ngModel #Employee="ngModel" type="text" class="form-control"
                        pattern="[A-Za-z]+$">
                        <strong class="text-danger" *ngIf="Employee.touched && Employee.hasError('required')">
                            Employee Name is required Field
                        </strong>
            
                    </div>
                    <div class="form-group">
                        <label for="empId">Employee ID*</label>
                        <input required name="empId" ngModel #empId="ngModel" type="text" class="form-control">
                          <strong class="text-danger" *ngIf="empId.touched && empId.hasError('required')">
                            Employee Id is required Field
                        </strong>
                    </div>
                    <div class="form-group">
                        <label for="leave">Leave Type*</label>
                        <select required name="leave" ngModel #leave="ngModel" type="text" class="form-control">
                            <option value="Sick leave">Sick leave</option>
                            <option value="maternity leave">maternity leave</option>
                            <option value="casual leave">casual leave</option>
                            <option value="Annual leave">Annual leave</option>
                            <option value="Marriage leave">Marriage leave</option>
                            <option value="Unpaid Leave">Unpaid Leave</option>
                            <option value="study leave">study leave</option>
                            <option value="Emergency leave">Emergency leave</option>
                            <option value="half-day leave">half-day leave</option>

                            </select>
                            <strong class="text-danger" *ngIf="leave.touched && leave.hasError('required')">
                                Leave Type is required Field
                            </strong>
                    </div>
                    <div class="form-group">
                        <label for="fromDate">From Date*</label>
                        <input type="date" [(ngModel)]="FromValue" required name="fromDate"  ngModel #fromDate="ngModel"  class="form-control">
                        <strong class="text-danger" *ngIf="fromDate.touched && fromDate.hasError('required')">
                            From Date is required Field
                        </strong>
                    </div>


                    <div class="form-group">
                        <label for="ToDate">To Date*</label>
                        <input [(ngModel)]="ToValue" required name="ToDate" ngModel #ToDate="ngModel" type="date" class="form-control">
                        <strong class="text-danger" *ngIf="ToDate.touched && ToDate.hasError('required')">
                            To Date is required field
                        </strong>

                        <strong class="text-danger" *ngIf="ToValue && FromValue && ToValue < FromValue"></strong>
                    </div>


                      <div class="form-group">
                        <label for="Reason">Reason*</label>
                          <textarea type="text" required rows="4" class="form-control" name="Reason" ngModel
                #Reason="ngModel" class="form-control" minlength="20">
                </textarea>
                            <strong class="text-danger" *ngIf="Reason.touched && Reason.hasError('required')">
                                Reason is required field
                            </strong>
                            <strong class="text-danger" *ngIf="Reason.dirty && Reason.hasError('minlength')">
                                the Reason alteast minimum 20 charecter
                            </strong>
              
                    </div>
                    <button class="btn btn-block btn-danger">Apply</button>
                    

                    
                </form>
            </div>
        </div>
        </div>
    </div>
</div>