<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4>Job Application</h4>
                    <form>
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Mobilenumber">Mobile Number</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Experience">Experience</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Skills">Skills</label>
                            <input type="text" class="form-control">
                            <select class="form-control">
                            <option value="html">Html</option>
                            <option Value="css">css</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Resume">Resume URL</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Expected Salary">Expected Salary</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>