
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="text-center mt-2">User Registration Form</h4>
                <div class="card-body">
                   <form (ngsubmit)="onuser()" [formGroup]="onuserForm">
                    <div class="form-group">
                        <label for="firstName">First Name*</label>
                        <input type="text" formControlName="firstName" class="form-control">

                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name*</label>
                        <input type="text" formControlName="LastName" class="form-control">

                    </div>
                    <div class="form-group">
                        <label for="phone">phone*</label>
                        <input type="text" formControlName="phone" class="form-control">

                    </div>
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="text" formControlName="email" class="form-control">

                    </div>
                        <div class="form-group">
                        <label for="password">password*</label>
                        <input type="text" formControlName="email" class="form-control">

                    </div>
                    <div class="form-group">
                        <label for="confirmp">Confirm password*</label>
                        <input type="text" formControlName="confirmp" class="form-control">

                    </div>
                      <div class="form-group">
                        <label for="bio">bio*</label>
                        <input type="text" formControlName="bio" class="form-control">

                    </div>
                    <div class="form-group">
                        <label for="website">bio*</label>
                        <input type="text" formControlName="website" class="form-control">

                    </div>
                    <button mat-raised-button color="primary" class="btn btn-block">Submit</button>


                   </form>
                </div>
            </div>
        </div>
    </div>
</div>